$background: #7e8a4a;
$main-content: rgb(245, 241, 192);
$header-color: #f7db91;
$picture-border: #654321;
$navbar: linear-gradient(#f499ab, white, #f499ab);
$main-border: #654321;
$link-color: #573a1d;
$link-hover: #7e8a4a;
$landing-text-paragraph: #654321;
$quote-text: #654321;
$main-text: #654321;
$progress-bar: #f499ab;
$header-text:  #573a1d;
