@import "_colors";

body,
html {
    background-image: url(../images/background.jpg);
    overflow-x: hidden;
    
    padding: 0px;
    margin: 0;

}

#main-content {
    padding: 20px 80px 20px 80px;
}

a {
    color: $link-color;
}

a:hover {
    color: $link-hover;
}

.navbar {
    background-image: $navbar;
    border-bottom: 1px solid $picture-border;

    .nav-item {
        font-size: 16px;
        font-family: Tahoma, sans-serif;
        margin: 0px 30px 0px 30px;
    }
}

header {
    height: 300px;
    background-image: url(../images/header2.jpeg);
    border-bottom: 5px double $main-border;

}

#shell-content {
    background-color: $main-content;
    /*
    background-image: url"/images/abstract-flower-patternedited3.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    */
    margin-top: 40px;
    margin-bottom: 40px;
    border: 5px double $main-border;
    padding: 0px;
    
}

h1 {
    color: $header-text;
    font-size: 106px;
    font-family: 'Rochester', cursive;
    margin-top:30px;
    text-shadow: 2px 2px #f499ab;
}

h2 {

    color: $header-text;
    font-family: 'Rochester', cursive;
    font-size: 30px;

}

h3 {
    margin: 0px 0px 20px 0px;
}

h4 {
    margin: 30px 0px 0px 0px;
}

#quote {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Cookie', cursive;
    font-size: 30px;
    color: $quote-text;
}

.links {
    margin: 40px 10px 0px 10px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

#landing-paragraph {
    font-family: 'Montaga', serif;
    color: $landing-text-paragraph;
    font-size: 20px;
}

#author-bio{
    font-family: 'Montaga', serif;
    color: $landing-text-paragraph;
    font-size: 18px;
}

#author-bio-image{
    padding: 0px 0px 10px 10px;
    
}

#av-excerpt{
    font-family: 'Montaga', serif;
    color: $landing-text-paragraph;
    font-size: 18px;
}

.book-label{
    font-family: 'Montaga', serif;
    color: $landing-text-paragraph;
    font-size: 16px;
}

.links-item {
    padding: 5px 20px 10px 5px;
}

#author-image {
    border: 5px solid $picture-border;
}

#promo-image {
    border: 5px solid $picture-border;
}

#new-release-image {
    border: 5px solid $picture-border;
    margin: 20px;
}

#social-links {
    margin: 0px 20px 0px 20px;
    
}

.books {
    margin-bottom: 10px;
    border: 1px solid black;
}

.book-label {
    color: $main-text;
    
}

.blurb-image{
    margin: 5%;
    border: 5px solid $picture-border;
}

.blurb-text{

    font-size: 18px;
    color: $picture-border;
    padding: 25px;
   
}

.brown-text {
    color: $main-text;
}

.panel{
    color: white;
}

.fancy{
    font-family: 'Montaga', serif;
    color: $landing-text-paragraph;
    font-size: 20px;
}

.nav-link{
    font-family: 'Berkshire Swash';
    font-size: 18px;
    color: $picture-border !important;
    a:hover{
        color: $link-hover !important;
    }
    
  
}

.spaced-list-item{
    margin: 30px 0px 30px 0px;
}

.book-card{
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.progress{
    width: 50%;
    margin: auto;
    background-color: #afb263 !important;
}

.progress-bar {
    background-color: #f499ab !important;
    color: $picture-border !important;
}

footer {
    background-image: url(../images/header2.jpeg);
    height: 300px;
    border-top: 1px solid $picture-border;

}

.logo{
    margin: 0px 0px 5px 0px;
    width: 150px
}

.fa-home{
    color: $picture-border;
}

.big-letter{
    font-size: 38;
}

.loader {
    border: 16px solid #7e8a4a; /* Light grey */
    border-top: 16px solid #f499ab; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 40px;
  }
  
  
  /*#navbarSupportedContent{
    
  }*/
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media only screen and (max-width: 576px) {
    #shell-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h1{
        font-size: 84px;
    }
  }